* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	padding: 30px;
}

h3 {
	font-size: 14px;
	font-weight: 300;
}

p {
	font-size: 10px;
	margin-top: 0;
}

.clear {
	clear: both;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

.card {
	width: 40%;
	height: 500px;
	background-color: #5d587b;
	border-radius: 10px;
	float: left;
	margin: 0 5% 5% 5%;
	padding: 30px 15px;
}

.card h2 {
	color: white;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	margin-top: 0;
	margin-bottom: 2rem;
}

.column-third {
	width: 33.33%;
	float: left;
	padding: 0 5px;
}

.column-half {
	width: 50%;
	float: left;
	padding: 0 5px;
}

.column-full {
	padding: 0 5px;
	clear: both;
}

.board {
	margin-bottom: 10px;
}

.board h3 {
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 14px;
	margin: 0;
	border-radius: 5px 5px 0 0;
}

.board p {
	padding: 10px;
	background-color: #ccc;
	margin: 0;
	border-radius: 0 0 5px 5px;
}

.image {
	max-width: 100%;
	margin-bottom: 10px;
}

.section-text {
	background-color: #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

.about {
	text-align: center;
	
}

.about .column-full h3 {
	text-align: center;
	color: white;
}

.about .column-full p {
	text-align: center;
	width: 70%;
	margin: 0 auto 30px auto;
	color: white;
}

.about .column-third h3, .about .column-third p {
	margin-top: 0;
	color: white;
}